<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>small_rocks</key>
		<true/>
		<key>big_rocks</key>
		<false/>
		<key>small_junk</key>
		<false/>
		<key>big_junk</key>
		<false/>
	</dict>
	<key>Level2</key>
	<dict>
		<key>small_rocks</key>
		<true/>
		<key>big_rocks</key>
		<true/>
		<key>small_junk</key>
		<false/>
		<key>big_junk</key>
		<false/>
	</dict>
	<key>Level3</key>
	<dict>
		<key>small_rocks</key>
		<true/>
		<key>big_rocks</key>
		<true/>
		<key>small_junk</key>
		<false/>
		<key>big_junk</key>
		<false/>
	</dict>
	<key>Level4</key>
	<dict>
		<key>small_rocks</key>
		<true/>
		<key>big_rocks</key>
		<true/>
		<key>small_junk</key>
		<false/>
		<key>big_junk</key>
		<false/>
	</dict>
	<key>Level5</key>
	<dict>
		<key>small_rocks</key>
		<true/>
		<key>big_rocks</key>
		<true/>
		<key>small_junk</key>
		<true/>
		<key>big_junk</key>
		<false/>
	</dict>
	<key>Level6</key>
	<dict>
		<key>small_rocks</key>
		<true/>
		<key>big_rocks</key>
		<true/>
		<key>small_junk</key>
		<true/>
		<key>big_junk</key>
		<false/>
	</dict>
	<key>Level7</key>
	<dict>
		<key>small_rocks</key>
		<true/>
		<key>big_rocks</key>
		<true/>
		<key>small_junk</key>
		<true/>
		<key>big_junk</key>
		<false/>
	</dict>
	<key>Level8</key>
	<dict>
		<key>small_rocks</key>
		<true/>
		<key>big_rocks</key>
		<true/>
		<key>small_junk</key>
		<true/>
		<key>big_junk</key>
		<true/>
	</dict>
</dict>
</plist>
