<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>imageName</key>
		<string>zombie1</string>
		<key>maxOxygen</key>
		<integer>100</integer>
		<key>maxFuel</key>
		<integer>100</integer>
		<key>oxygenPerSec</key>
		<real>0.5</real>
		<key>fuelPerSec</key>
		<real>0.5</real>
	</dict>
	<key>Level2</key>
	<dict>
		<key>imageName</key>
		<string>zombie1</string>
		<key>maxOxygen</key>
		<integer>100</integer>
		<key>maxFuel</key>
		<integer>100</integer>
		<key>oxygenPerSec</key>
		<real>0.5</real>
		<key>fuelPerSec</key>
		<real>0.5</real>
	</dict>
	<key>Level3</key>
	<dict>
		<key>imageName</key>
		<string>zombie1</string>
		<key>maxOxygen</key>
		<integer>100</integer>
		<key>maxFuel</key>
		<integer>100</integer>
		<key>oxygenPerSec</key>
		<real>0.5</real>
		<key>fuelPerSec</key>
		<real>0.5</real>
	</dict>
	<key>Level4</key>
	<dict>
		<key>imageName</key>
		<string>zombie1</string>
		<key>maxOxygen</key>
		<integer>100</integer>
		<key>maxFuel</key>
		<integer>100</integer>
		<key>oxygenPerSec</key>
		<real>0.5</real>
		<key>fuelPerSec</key>
		<real>0.5</real>
	</dict>
	<key>Level5</key>
	<dict>
		<key>imageName</key>
		<string>zombie1</string>
		<key>maxOxygen</key>
		<integer>100</integer>
		<key>maxFuel</key>
		<integer>100</integer>
		<key>oxygenPerSec</key>
		<real>0.5</real>
		<key>fuelPerSec</key>
		<real>0.5</real>
	</dict>
	<key>Level6</key>
	<dict>
		<key>imageName</key>
		<string>zombie1</string>
		<key>maxOxygen</key>
		<integer>100</integer>
		<key>maxFuel</key>
		<integer>100</integer>
		<key>oxygenPerSec</key>
		<real>0.5</real>
		<key>fuelPerSec</key>
		<real>0.5</real>
	</dict>
	<key>Level7</key>
	<dict>
		<key>imageName</key>
		<string>zombie1</string>
		<key>maxOxygen</key>
		<integer>100</integer>
		<key>maxFuel</key>
		<integer>100</integer>
		<key>oxygenPerSec</key>
		<real>0.5</real>
		<key>fuelPerSec</key>
		<real>0.5</real>
	</dict>
	<key>Level8</key>
	<dict>
		<key>imageName</key>
		<string>zombie1</string>
		<key>maxOxygen</key>
		<integer>100</integer>
		<key>maxFuel</key>
		<integer>100</integer>
		<key>oxygenPerSec</key>
		<real>0.5</real>
		<key>fuelPerSec</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
