<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpecialObjects</key>
	<dict>
		<key>SpecialObject11</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject12</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject13</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject14</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject15</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject1</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject2</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject3</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject4</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject5</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject6</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject7</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject8</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject9</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
		<key>SpecialObject10</key>
		<dict>
			<key>image</key>
			<string>salyut1Char</string>
			<key>name</key>
			<string>Salyut 1</string>
			<key>description</key>
			<string>The first space station was Salyut 1, which was launched by the Soviet Union on April 19, 1971. The earlier Soviet stations were all designated &quot;Salyut&quot;, but among these there were two distinct types: civilian and military.</string>
		</dict>
	</dict>
	<key>Characters</key>
	<dict>
		<key>Character1</key>
		<dict>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>galleryLaikaChar</string>
			<key>imageDetail</key>
			<string>laikaChar</string>
		</dict>
		<key>Character2</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character3</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character4</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character5</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character6</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character7</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character8</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character9</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character10</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character11</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character12</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character13</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character14</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
		<key>Character15</key>
		<dict>
			<key>imageDetail</key>
			<string>galleryLaikaChar</string>
			<key>description</key>
			<string>Laika  was a Soviet space dog who became one of the first animals  in space, and the first animal to orbit the Earth. Was selected to be the occupant of the Soviet spacecraft Sputnik 2 that was launched into outer space on 3 November 1957.</string>
			<key>name</key>
			<string>Laika</string>
			<key>image</key>
			<string>laikaChar</string>
		</dict>
	</dict>
</dict>
</plist>
