<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Level1</key>
    <dict>
        <key>type</key>
        <string>1</string>
        <key>quantity</key>
        <integer>0</integer>
        <key>imageName</key>
        <string>0</string>
    </dict>
    <key>Level2</key>
    <dict>
        <key>type</key>
        <string>1</string>
        <key>quantity</key>
        <integer>0</integer>
        <key>imageName</key>
        <string>0</string>
    </dict>
    <key>Level3</key>
    <dict>
        <key>type</key>
        <string>1</string>
        <key>quantity</key>
        <integer>0</integer>
        <key>imageName</key>
        <string>0</string>
    </dict>
    <key>Level4</key>
    <dict>
        <key>type</key>
        <string>1</string>
        <key>quantity</key>
        <integer>0</integer>
        <key>imageName</key>
        <string>0</string>
    </dict>
    <key>Level5</key>
    <dict>
        <key>type</key>
        <string>1</string>
        <key>quantity</key>
        <integer>0</integer>
        <key>imageName</key>
        <string>0</string>
    </dict>
    <key>Level6</key>
    <dict>
        <key>type</key>
        <string>1</string>
        <key>quantity</key>
        <integer>0</integer>
        <key>imageName</key>
        <string>0</string>
    </dict>
    <key>Level7</key>
    <dict>
        <key>type</key>
        <string>1</string>
        <key>quantity</key>
        <integer>0</integer>
        <key>imageName</key>
        <string>0</string>
    </dict>
    <key>Level8</key>
    <dict>
        <key>type</key>
        <string>1</string>
        <key>quantity</key>
        <integer>0</integer>
        <key>imageName</key>
        <string>0</string>
    </dict>
</dict>
</plist>
