<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpecialObjects</key>
	<dict>
		<key>SpecialObject1</key>
		<dict>
			<key>unlocked</key>
			<false/>
			<key>name</key>
			<string>Salyut 1</string>
		</dict>
	</dict>
	<key>Characters</key>
	<dict>
		<key>Character1</key>
		<dict>
			<key>unlocked</key>
			<false/>
			<key>name</key>
			<string>Laika</string>
		</dict>
	</dict>
</dict>
</plist>
