<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>small_rock</key>
    <dict>
        <key>type</key>
        <string>medium</string>
        <key>malusOxygen</key>
        <integer>0</integer>
        <key>malusFuel</key>
        <integer>0</integer>
        <key>malusOxygenPerSec</key>
        <integer>0</integer>
        <key>malusFuelPerSec</key>
        <integer>0</integer>
        <key>imageName</key>
        <array>
            <string>smallrock</string>
            <string>smallrock2</string>
        </array>
    </dict>
    <key>big_rock</key>
    <dict>
        <key>type</key>
        <string>large</string>
        <key>malusOxygen</key>
        <integer>0</integer>
        <key>malusFuel</key>
        <integer>0</integer>
        <key>malusOxygenPerSec</key>
        <integer>0</integer>
        <key>malusFuelPerSec</key>
        <integer>0</integer>
        <key>imageName</key>
        <array>
            <string>bigrock</string>
            <string>bigrock2</string>
        </array>
    </dict>
    <key>small_junk</key>
    <dict>
        <key>type</key>
        <string>small</string>
        <key>malusOxygen</key>
        <integer>0</integer>
        <key>malusFuel</key>
        <integer>0</integer>
        <key>malusOxygenPerSec</key>
        <integer>0</integer>
        <key>malusFuelPerSec</key>
        <integer>0</integer>
        <key>imageName</key>
        <array>
            <string>smalljunk</string>
            <string>smalljunk2</string>
        </array>
    </dict>
    <key>big_junk</key>
    <dict>
        <key>type</key>
        <string>medium</string>
        <key>malusOxygen</key>
        <integer>0</integer>
        <key>malusFuel</key>
        <integer>0</integer>
        <key>malusOxygenPerSec</key>
        <integer>0</integer>
        <key>malusFuelPerSec</key>
        <integer>0</integer>
        <key>imageName</key>
        <array>
            <string>bigjunk</string>
            <string>bigjunk2</string>
        </array>
    </dict>
</dict>
</plist>
